/* src/assets/styles/theme.css */

:root {
  color-scheme: light;

  --color-surface: #1C4675;
  --color-surface-bright: #295F90;
  --color-surface-dim: #081B34;
  --color-surface-container-lowest: #1A1B1D;
  --color-surface-container-low: #081B34;
  --color-surface-container: #102F55;
  --color-surface-container-high: #1C4675;
  --color-surface-container-highest: #295F90;
  --color-on-surface: #FFFFFF;
  --color-on-surface-variant: #9FC7E0;
  --color-outline: #3A79A9;
  --color-outline-variant: #295F90;
  --color-inverse-surface: #FFFFFF;
  --color-inverse-on-surface: #081B34;
  --color-primary: #1C4675;
  --color-secondary: #C34D4B;
  --color-on-primary: #FFFFFF;
  --color-primary-container: #1C4675;
  --color-on-primary-container: #1C4675;
}

:root[data-theme='dark'] {
  color-scheme: dark;

  --color-surface: #1C4675;
  --color-surface-bright: #295F90;
  --color-surface-dim: #081B34;
  --color-surface-container-lowest: #1A1B1D;
  --color-surface-container-low: #081B34;
  --color-surface-container: #102F55;
  --color-surface-container-high: #1C4675;
  --color-surface-container-highest: #295F90;
  --color-on-surface: #FFFFFF;
  --color-on-surface-variant: #9FC7E0;
  --color-outline: #3A79A9;
  --color-outline-variant: #295F90;
  --color-inverse-surface: #FFFFFF;
  --color-inverse-on-surface: #081B34;
  --color-primary: #1C4675;
  --color-secondary: #C34D4B;
  --color-on-primary: #FFFFFF;
  --color-primary-container: #1C4675;
  --color-on-primary-container: #1C4675;
}
